name: Deploy to Hetzner via FTPS
on:
  push:
    branches:
      - master

jobs:
  ftp-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Deploy to Hetzner (FTPS)
        uses: SamKirkland/FTP-Deploy-Action@4.3.3
        with:
          server: ${{ secrets.HETZNER_FTP_HOST }}
          username: ${{ secrets.HETZNER_FTP_USER }}
          password: ${{ secrets.HETZNER_FTP_PASS }}
          protocol: ftps
          port: 21
          local-dir: ./
          server-dir: public_html/
          timeout: 60000
